* {
  box-sizing: border-box;
}
html {
  background-color: rgb(79, 30, 30);
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

body {
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.ObjChapitreOups {
  background-color: rgb(162, 40, 40);
}

.ObjChapitreEscalier {
  background-color: rgb(255, 138, 138);
}

.ObjChapitreFin {
  background-color: rgb(255, 213, 0);
}

.game {
  background-color: rgb(48, 6, 6);
  width: 700px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

span.titre {
  font-family: "Uncial Antiqua", cursive;
  color: rgb(255, 255, 255);
  font-size: 40px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
}
span.sousTitre {
  font-family: "Cinzel", serif;
  color: rgb(255, 255, 255);
  font-size: 30px;
  padding: 20px;
}

.boutons {
  font-family: "Cinzel", serif;
  color: rgb(156, 121, 68);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 1%;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.check {
  color: rgb(156, 121, 68);
  display: flex;
  align-items: left;
  justify-content: left;
  padding: 20px;
}

#btn_effacer {
  color: rgb(156, 121, 68);
  font-family: "Cinzel", serif;
  padding: 5px;
}

span.synopsis {
  color: rgb(237, 220, 195);
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
